<!doctype html>
<html>
<head>
	<meta http-equiv="charset" content="text/html; charset=utf-8">
	<!-- needed because VML performance in IE8 is abysmal -->
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<title>Whiteboard demo{{ " (dev)" if dev_mode else "" }} | BrowserNode</title>
	{% if not dev_mode %}
	<style>
		#minerva-xdrframes iframe {
			width: 1px;
			height: 1px;
			border: 0;
			position: absolute;
		}
	</style>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ cacheBreakLink('/browsernode_static/whiteboard.css') }}">
</head>
<body>
<div id="whiteboard-container">
	<div id="whiteboard-doc">
		<div id="minerva-xdrframes"></div>
		<div id="demo-header"><b><a href="/">BrowserNode</a></b> | <b>Whiteboard demo</b></div>
		<p>
			Click on the whiteboard below to add colored points.  The state of the whiteboard
			is instantly synchronized with all other browsers viewing this page.  If there's
			no one around, open a second browser (or another tab/window).
		</p>

		<p>
			After 20 minutes of inactivity, the board will be automatically cleared.
		</p>

		{% if dev_mode %}
		<p>
			This page supports options ?mode=http, ?mode=flash, ?useSub=0, ?useSub=1,
			?httpStreaming=1, ?logging=1 (which can be combined).
		</p>
		{% endif %}
	</div>

	<div id="whiteboard-controls-left"></div>
	<div id="whiteboard-controls-right"></div>
	<br class="clearer">
	<div id="drawAreaContainer">
		<div id="drawAreaOverlay"></div>
		<div id="drawArea"></div>
	</div>
</div>
<div id="FlashConnectorSwf"></div>
<div id="log"></div>

<script>
{#
// Use just one preamble <script> to reduce page load time.

// We don't define anything on "window" to avoid possible IE stack limit of 12
// when calling through window.
#}
CSRF_TOKEN = {{ htmldumps(bootstrap.csrf_token) }};
{{ bootstrap.getXDRSetup(dev_mode, domain) }}
</script>

{% if dev_mode %}
<script>CLOSURE_NO_DEPS = true;</script>
<script src="/JSPATH/closure/goog/base.js"></script>
<script src="/JSPATH/all_deps.js"></script>
<script>
goog.require('whiteboard');
</script>
{% else %}
<script src="{{ cacheBreakLink('/browsernode_static/whiteboard.js') }}"></script>
{% endif %}
<script>
__whiteboard_init();
</script>

</body>
</html>
