$loc_goog_images: "/goog-images/";

@import "goog/inline-block.scss";
@import "goog/custom-button.scss";


* {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
}

a {
	color: #48779b;
}

pre, code {
	font-family: Consolas, monospace;
	font-size: 0.8em;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#log {
	clear: both;
}

#demo-header {
	position: fixed;
	border-bottom: 1px solid #ccc;
	/* needed because this is fixed and hovers over the rows */
	background-color: #fff;
}

#demo-header-text {
	padding: 0.8em 0.8em 0.4em 0.8em;
}

.pref-label {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 3px;
	margin: 1px 0.75em 1px 1px;
}

.clear-posts-button {
	position: relative;
	top: -2px;
}

#ljstream-container {
	overflow: hidden;
}

#ljstream-big-empty {
	height: 1024px;
}

#ljstream-container-inner {
	/* This is needed to get the post title and body on the same line.
	It may need to change, depending on how many characters the server
	sends per body. */
	width: 9000px;
}

.clearer {
	clear: both;
}

.row-even, .row-odd {
	padding: 3px 4px 3px 4px;
	clear: both;
}

.row-even {
	background-color: #e5eef5;
}

.row-odd {
	background-color: #f7f7f7;
}

.ljpost-title-link {
	font-weight: bold;
}

.important-message {
	font-weight: bold;
}
