@import "goog/inline-block.scss";
@import "goog/custom-button.scss";


html, body {
	background-color: #f7f7f7;
}

#minerva-xdrframes iframe {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
}
